- obj.each do |article|
  .row
    .col-md-8.offset-2
      .well.well-lg
        .article-title
          =link_to "Title: #{article.title}", article_path(article)
        .article-body
          =truncate("Description: #{article.description}", length: 100)
          %small Created by: #{article.user&.name}
          = article.created_at
