%h1 All articles
%p
  =link_to "crate new article", new_article_path
%table.table.table-borderless
  %thead
    %tr
      %th{:scope => "col"} #
      %th{:scope => "col"} Title
      %th{:scope => "col"} Description
  %tbody
  - @articles.each do |d|
    %tr
      %td{:scope => "row"}= d.id
      %td= d.title
      %td= d.description

