%h1{align: "center"} Lisning all articles
%p
  =link_to "Create new article", new_article_path, class: "btn btn-xs btn-info"
- @articles.each do |article|
  .row
    .col-md-8.offset-2
      .well.well-lg
        .article-title
          =link_to "Title: #{article.title}", article_path(article)
        .article-body
          =truncate("Description: #{article.description}", length: 100)
          %small Created by: #{article.user&.name}
          = article.created_at
        .article-actions
          =link_to "Edit", edit_article_path(article), class: "btn btn-xs btn-primary"
          =link_to "Delete", article_path(article), method: :delete, data: {confirm: "Are you sure"}, class: "btn btn-xs btn-danger"
