%h2{align: "center"} Title:#{@article.title}
.well.col-xs-8.offset-2
  %h4.center
  %strong Description:
  =simple_format(@article.description)
  .article-actions
    .mysection
      =link_to "Edit this article", edit_article_path(@article), class: "btn btn-xs btn-primary"
      =link_to "Delete this article", article_path(@article), method: :delete, data: {confirm: "are you sure? "}, class: "btn btn-md btn-danger"
      =link_to "Back to articles listning", articles_path(@article), class: "btn btn-md btn-info"
