.jumbotron.jumbotron-fluid.center
  .container
    %h1.display-4 First Blog
    =link_to "sign up", signup_path, class: "btn btn-primary btn-lg "
    =link_to "log in", login_path, class: "btn btn-primary btn-lg"
