
@import "bootstrap";
.container{
	margin-top: 10px;
	padding-top: 9px;
}

#logo{
	font-size: 16px;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	border-right: 1.5px solid black;
	margin-left: 50px;

}
#logo:hover{
	color: #fff;
	text-decoration: none;
	
}

.flashmessage{
	border: 1px sold black;

}
.center{
	text-align: center;
	font-size: 35px;
	letter-spacing: 1.5px;
	background-color: #f8f9fa;
}

footer{
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid black;
	color: #777;


} 
.searching{
	margin-right: 50px;
}
 .lefttext{
 	text-align: right;
 }
 .articlenew{
 	letter-spacing: 1.5px;
 	font-size: 46px;
 	margin-bottom: 35px;
 	border-bottom: 0.2px solid black;
 }
 .formsize{
 	font-size: 19px;
 	font-weight: bold;
 }