.container
  %footer.footer
    %small
      Copyright &copy;
      %a{:href => "https/www.udemy.pl"}
      The complite
    %nav
      %ul
        %li
        =link_to "About", about_path, class: "lefttext"
